{{>header}}
{{>navbar}}
<section class="my-5 container text-light">
    <div class="alert alert-danger">
        <p>page not found</p>
        <a href="/" class="btn btn-primary">back to home</a>
    </div>
{{>footer}}